/* * {
  border: 1px solid red;
} */

.page {
  /* border: 1px solid red; */
  justify-self: center;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  background-color: #2a2c2f;
  width: 100%;
  min-width: 320px;
  /* margin: 0 100vw 0; */

  color: #ffffff;
  display: flex;
  flex-direction: column;
}
/*started 2 responsivnessss from here!*/
@media screen and (max-width: 1279px) {
  .page {
    max-width: 100%;
    margin: 0;
  }
}
/*started responsivnessss from here!*/
@media screen and (max-width: 767px) {
  .page {
    margin-top: 20px;
    max-width: 100%;
  }
}
