* {
  border: 1px solid red;
}

.page {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  background-color: #2a2c2f;

  min-width: 320px;
  margin: 0 0 0;

  color: #ffffff;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 788px) {
  .page {
    max-width: 780px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .page {
    width: 100%;
    max-width: 320px;
    margin: 0 0 0 0;
  }
}
