.page {
  justify-self: center;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #2a2c2f;
  width: 100%;
  min-width: 320px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 34px auto 0;
}
@media screen and (max-width: 1279px) {
  .page {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .page {
    margin-top: 20px;
  }
}
