.photo-grid {
  margin: 118px 48px 0;
  padding: 0;
  display: grid;
  max-width: 1184px;
  width: calc(100% - (48px * 2));
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 90px 24px 0;

    max-width: 720px;
    width: calc(100% - (24px * 2));
    grid-template-columns: repeat(2, 1fr);
  }
}
