.photo-grid {
  margin: 118px 48px 0;
  padding: 0;
  display: grid;
  width: 100%;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    margin-top: 90px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    margin-left: 0;
    margin-right: 0;
  }
}
