.places {
  max-width: 987px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 145px 0 145px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  /*   width: calc(100%- (48px * 2));
 */
  position: relative;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 720px;
    margin: 24px;
  }
}
