.places {
  /*   max-width: 987px;
 */
  display: flex;
  flex-direction: column;
  margin: 0 145px 0 148px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  /*   width: calc(100%- (48px * 2));
 */
}
