.place__image {
  object-fit: cover;
  grid-area: image;
}
/*started responsivnessss from here!*/
@media screen and (max-width: 788px) {
  .place__image {
    object-fit: contain;
    width: 100%;
  }
}
