.cover__form {
  display: flex;
  flex-direction: column;
  margin: 32px 0 0 0;
}
/*started responsivnessss from here!*/
@media screen and (max-width: 719px) {
  .cover__form {
    margin: 16px 0 0 0;
  }
}
