.header__logo {
  margin-top: 34px;
  max-width: 793px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 100%;

    max-width: 200px;
    margin: 0;
    object-fit: contain;
  }
}
