.place__description-holder {
  max-width: 484px;
  grid-area: description;
}

@media screen and (max-width: 788px) {
  .place__description-holder {
    width: 44vw;
    max-width: 352px;
  }
}

@media screen and (max-width: 330px) {
  .place__description-holder {
    width: unset;
    /*     max-width: 288px;
 */ /* margin: 30px calc((100% - 286px) / 2) 0; */
  }
}
