.place__description-holder {
  max-width: 484px;
  grid-area: description;
}
/*started 2 responsivnessss from here!*/
@media screen and (max-width: 1279px) {
  .place__description-holder {
    width: 44vw;
    max-width: 352px;
  }
}
/*started responsivnessss from here!*/
@media screen and (max-width: 719px) {
  .place__description-holder {
    width: unset;
    margin-left: 16px;
    margin-right: 16px;
  }
}
