.photo-grid__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* @media screen and (max-width: 1279px) {
  .photo-grid__image {

  }
}
 */
@media screen and (max-width: 719px) {
  .photo-grid__image {
    margin-left: 16px;
    margin-right: 16px;
  }
}
