.cover__visit-us {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  max-width: 656px;
}

@media screen and (max-width: 320px) {
  .cover__visit-us {
    max-width: 288px;
    line-height: calc(35 / 32);
    font-size: 32px;
    margin: 41px 0 0 0;
  }
}
