.lead__title {
  max-width: 793px;
  margin: 90px 0 0;
  line-height: calc(100 / 96);
  font-size: 96px;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .lead__title {
    max-width: 720px;
  }
}
/*started responsivnessss from here!*/
@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    margin-top: 0;
    margin-left: calc((100% - 288px) / 2);
    margin-right: calc((100% - 288px) / 2);
    line-height: calc(44 / 40);
    font-size: 40px;
  }
}
