.intro {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 92px;
}
@media screen and (min-width: 1100px) {
  .intro {
    /*      width: calc(100% * (785 / 1280));
 */
    width: 100%;
  }
}

@media screen and (max-width: 788px) {
  .intro {
    max-width: 720px;
    width: calc(100% - (24px * 2));
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: calc(100% - (16px * 2));
    max-width: 320px;
    margin: 64px 16px 0;
  }
}
