.intro {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin-top: 92px;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .intro {
    margin: 88px 24px 0;
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .intro {
    max-width: 320px;
    margin-top: 64px;
    margin-right: 16px;
    margin-left: 16px;
  }
}
