.place__form {
  grid-area: form;
}
/*started responsivnessss from here!*/
@media screen and (max-width: 719px) {
  .place__form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
