.lead__subtitle {
  max-width: 793px;
  margin: 32px 0 0;
  color: #ffffff;
  line-height: 1.2;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: 720px;
    margin-top: 36px;
    /* margin: 90px calc((768px - 100%) / 2) 0; */
    /*     margin: 90px 0 0;
 */
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    /* margin: 90px calc((768px - 100%) / 2) 0; */
    margin: 16px calc((100% - 288px) / 2) 0;
    line-height: calc(20 / 16);
    font-size: 16px;
  }
}
