.cover__overlay {
  /*   border: 1px solid red; */
  position: absolute;

  /*   top: 20px;
  left: 0; */
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.8s;

  overflow: visible;
}

.cover__overlay:hover {
  opacity: 0.8;
}
