/*started 2 responsivnessss from here!*/
@media screen and (max-width: 1279px) {
  .cover__background {
    display: block;
    max-width: 768px;
    margin: 0;
    /*     object-fit: hidden;
 */
    width: 100%;
  }
}
/*started responsivnessss from here!*/
@media screen and (max-width: 767px) {
  .cover__background {
    max-width: 320px;
    /*     object-fit: hidden;
 */
  }
}
