.cover__title {
  font-size: 72px;
  line-height: calc(76 / 72);
  margin: 0;
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: fit-content;

    font-size: 32px;
    line-height: calc(35 / 32);
  }
}
