.place {
  display: grid;
  width: 100%;
  max-width: 987px;
  /*  max-height: 756px; */
  margin: 80px 0 0 0;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px;
  grid-template-areas:
    "header website"
    "image description"
    "form description";
}

/* @media screen and (max-width: 768px) {
  .place {
    width: 100%;
    max-width: 720px;
    margin: 72px 0 0 0;
    max-height: 814px;
  }
} */

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    margin: 72px 0 0 0;
    /* max-height: 814px; */
    grid-gap: 20px;
  }
}
