.intro__citation-author {
  font-size: 24px;
  line-height: calc(34 / 24);
  margin: 10px 148px 0;
  max-width: 720px;
  /* min-width: 288px; */
  text-align: right;
  align-self: flex-end;
}

@media screen and (max-width: 1279px) {
  .intro__citation-author {
    margin-right: 0;
    margin-left: 0;
  }
}
/*started responsivnessss from here!*/
@media screen and (max-width: 767px) {
  .intro__citation-author {
    width: 100%;
    max-width: 320px;
    line-height: calc(30 / 24);
  }
}
