.intro__citation-author {
  font-size: 24px;
  line-height: calc(34 / 24);
  margin: 10px 0 0;
  max-width: 720px;
  min-width: 288px;
  text-align: right;
}

@media screen and (max-width: 320px) {
  .intro__citation-author {
    width: 100%;
    max-width: 320px;
    margin: 10px 0 0 0;
    line-height: calc(30 / 24);
    font-size: 24px;
  }
}
