.footer {
  align-self: center;
  font-size: 14px;
  line-height: calc(16 / 14);
  margin: 92px 0 24px 0;
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 64px 0 24px 0;
    line-height: calc(14 / 14);
  }
}
