.footer {
  /*   max-width: 165px;
  max-height: 16px; */
  align-self: center;
  font-size: 14px;
  line-height: calc(16 / 14);
  margin: 92px 0 24px 0;
  /* display: inline-block; */
}

/* @media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
    margin: 0;
  }
} */
