.place__url-heading {
  margin: 47px 0 8px 0;
  color: #aaaaaa;
  text-transform: uppercase;
}
@media screen and (max-width: 788px) {
  .place__url-heading {
    margin: 0 0 8px 0;
  }
}
/*started responsivnessss from here!*/
@media screen and (max-width: 719px) {
  .place__url-heading {
    margin: 0 0 8px 0;
  }
}
