.place__website {
  align-self: flex-end;
  grid-area: website;
}

@media screen and (max-width: 788px) {
  .place__website {
    grid-area: website;
  }
}
/*started responsivnessss from here!*/
@media screen and (max-width: 719px) {
  .place__website {
    width: unset;
    grid-area: website;
    margin-left: 16px;
    margin-right: 16px;
  }
}
