.place__website {
  align-self: flex-end;
  grid-area: website;
}
/*started 2 responsivnessss from here!
@media screen and (max-width: 1279px) {
  .place__website {
  }
}*/
/*started responsivnessss from here!*/
@media screen and (max-width: 767px) {
  .place__website {
    margin-left: 16px;
    margin-right: 16px;
  }
}
