.place__artist {
  margin: 0px;
  max-width: 456px;
  font-size: 18px;
  line-height: calc(22 / 18);
}
/*started responsivnessss from here!*/
@media screen and (max-width: 767px) {
  .place__artist {
    max-width: 352px;
    margin: 0;
  }
}
