.button_place_place {
  max-width: 248px;
}
@media screen and (max-width: 788px) {
  .button_place_place {
    margin-top: 2px;
  }
}
/*started responsivnessss from here!*/
@media screen and (max-width: 719px) {
  .button_place_place {
    width: 100%;
    max-width: 288px;
  }
}
