.button_place_place {
  /*   position: relative;
 */ /*   bottom: 0;
 */
  max-width: 248px;
  max-height: 48px;
  /* margin: 48px 0 0 0; */
}

@media screen and (max-width: 768px) {
  .button_place_place {
    max-width: 248px;
    /* margin: 48px 120px 31px 0; */
  }
}
@media screen and (max-width: 320px) {
  .button_place_place {
    max-width: 288px;
    /*     margin: 0 calc((100% - 286px) / 2) 0; */
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
