.intro__title {
  line-height: calc(58 / 54);
  font-size: 54px;
  padding: 0;
  margin-top: 0;
  margin-left: 148px;
  margin-bottom: 0;

  justify-content: flex-end;
}

@media screen and (min-width: 1100px) {
  .intro__title {
    margin-left: 148px;
    width: 785px;
    justify-content: center;
  }
}

@media screen and (max-width: 788px) {
  .intro__title {
    margin-left: 0;

    justify-content: center;
  }
}

@media screen and (max-width: 719px) {
  .intro__title {
    width: 100%;
    max-width: 320px;
    /* margin-right: 0;
 */
    line-height: calc(35 / 32);
    font-size: 32px;
  }
}
