.intro__title {
  line-height: calc(58 / 54);
  font-size: 54px;
  padding: 0;
  margin-top: 0;
  margin-left: 148px;
  margin-right: 347px;
  margin-bottom: 0;
  justify-content: center;
}
/*started 2 responsivnessss from here!*/
@media screen and (max-width: 1279px) {
  .intro__title {
    /*    margin-left: minmax(0, calc((100%-720px) / 2)); */
    margin-left: 0;
    margin-right: 0;
    max-width: 720px;
    justify-content: center;
  }
}
/*started responsivnessss from here!*/
@media screen and (max-width: 767px) {
  .intro__title {
    width: 100%;
    max-width: 320px;
    line-height: calc(35 / 32);
    font-size: 32px;
    margin: 0;
  }
}
