.intro__title {
  line-height: calc(58 / 54);
  font-size: 54px;
  padding: 0;
  margin: 0 calc(347px - 148px) 0 0;

  justify-content: center;
}
/*started 2 responsivnessss from here!*/
@media screen and (max-width: 1279px) {
  .intro__title {
    /*    margin-left: minmax(0, calc((100%-720px) / 2)); */

    max-width: 720px;
    margin: 0;
  }
}
/*started responsivnessss from here!*/
@media screen and (max-width: 767px) {
  .intro__title {
    width: 100%;
    max-width: 320px;
    line-height: calc(35 / 32);
    font-size: 32px;
  }
}
